.header {
  background-color: #18933c;
  color: #fff;
  padding: 1px 0;
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
}

.inputs {
  width: 50%;
}

.Button {
  background-color: #18933c;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1rem;
}
